header, footer{
    background: #4d0101dd;
    color:white;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    display: flex;
}

body{
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        line-height: 1,5;
        background-color: antiquewhite;
}

nav{
    padding: 15px;
    text-align: right;
    gap: 15px;
    display: flex;
    text-decoration:underline;
    color:black;
}

nav a{
    color:white;
}

main{
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    padding: 20px;
}

section{
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

form{
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0,0,0, 0.2);
    text-align: center;
    width: 340px;    
}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}

label{
    color:black;
    font-size:16px;
    font-weight: 600;
    margin-bottom: 10px;
}

input,button, textarea{
    padding: 13px 25px;
    border-radius: 20px;
    margin-bottom: 15px;
    border: 2px solid #B2B2B2;
}

.form-txt a{
    text-decoration: none;
}

.btn:hover{
    background-color: #B2B2B2;
     border: 2px solid #969696;
}

.contacto{
    text-align: center; /* Centra el contenido */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    padding: 40px;
}

img{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}